.App {
  margin:0;
  padding:0;
  text-align: center;
}

.black-nav {
  display:flex;
  align-items:center;
  height:50px;
  padding:20px;
  text-align:left;
  background-color:black;
  box-sizing:border-box;
    h4 {
      height:100%;
      margin:0;
      color:#fff;
      line-height:1;
    }
}

.list {
  padding-left:20px;
  border-bottom:1px solid #000;
  text-align:left;
}
.btn, .btn_sort {
	text-align:left;
	margin:0;
	border:1px solid #000;
}
